<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scriptHome"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <h1>My Tech-watch Assignator</h1>
    </header>
    <section class="liens">
        <a href="">History Tech-watch</a>
        <a href="">Student list</a>
        <a href="">Tech-watch Assignation</a>
    </section>
    <section class="homep">
        <h2>
Welcome to Tech-watch user ! 
        </h2>
        <p>
            On this page you could take a look to the next tech-watch we will assist. You can find witch students will have to do the next
presentation and when. <br>
Also, as you can see, above this section there is a menu. This menu offer you diverse options like: take a look about the tech-watch we
had already assist; see the list of students availaible for do a tech-watch; a page for create the next tech-watch. <br>
Don’t be shy and try to go on diverses part of the website !
        </p>
    </section>
</body>
</html>