<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <div>
            <h1>The Tech-Watch Assignator</h1>
        </div>

        <nav>
            <ul>
                <li><a class="middle" href="http://localhost:8080/history">History Tech-watch</a></li>
                <li><a class="middle" href="http://localhost:8080/studentsList">Student list</a></li>
                <li><a class="middle" href="http://localhost:8080/techWatchAssignation">Tech-Watch Assignation</a></li>
            </ul>
        </nav>

    <section class="homep">
        <h2>
Welcome to Tech-watch user ! 
        </h2>
        <p>
            On this page you could take a look to the next tech-watch we will assist. You can find witch students will have to do the next
presentation and when. <br>
Also, as you can see, above this section there is a menu. This menu offer you diverse options like: take a look about the tech-watch we
had already assist; see the list of students availaible for do a tech-watch; a page for create the next tech-watch. <br>
Don’t be shy and try to go on diverses part of the website !
        </p>
    </section>

    <main>
        <p>
    List of students they will must do a tech-watch soon:
        </p>
        <ul><% for (let student of studentName) { %>
            <li class="student"><%= student.name %></li>
    <% } %>  
        </ul>
    </main>

</body>
</html>